<div class="main_title">
  <div class="main_title_box">
    <div class="title_top">
      “オフィスのすきまを<br>
      &nbsp;新たな価値に変える”
    </div>
    <div class="title_sub">
      空きスペースを有効活用し自社内でコールセンターをしてもらう。<br>
      コールセンター企業とコールセンターを導入したい企業をつなぐマッチングサイト。
    </div>
  </div>
</div>
