<div class="main_title">
  <div class="main_title_box">
    <div class="main_title_top">
      “オフィスのすきまを<br>
      &nbsp;新たな価値に変える”
    </div>
    <div class="main_title_sub">
      空きスペースを有効活用し自社内でコールセンターをしてもらう。<br>
      コールセンター企業とコールセンターを導入したい企業をつなぐマッチングサイト。
    </div>
  </div>
</div>
<h3 class="section_title fade_in">
  <span class="en">Features</span>
  <span class="ja">SHARE SPACEとは?</span>
</h3>
<h4 class="intro_top fade_in"><span class="blue">「スペースを提供しオンサイトで仕事を依頼したい企業」</span>と<br>
<span class="orange">「スキルを提供したい企業」</span>を繋ぐマッチングサイトです</h4>
<div class="container_about fade_in">
  <ul class="content_list">
    <li class="content_list_item">
      <p class="icon_image"><%= image_tag "icon1.png" %></p>
      <p class="content_message">新しいビジネスパートナーの発見
      </p>
    </li>
    <li class="content_list_item">
      <p class="icon_image"><%= image_tag "icon2.png" %></p>
      <p class="content_message">オンサイトのため連絡事項や相談もスムーズにできる
      </p>
    </li>
    <li class="content_list_item">
      <p class="icon_image"><%= image_tag "icon3.png" %></p>
      <p class="content_message">専門業務に専念できるため社員のスキル向上/業務の効率化が図れる
      </p>
    </li>
  </ul>
</div>
<div class="container_new">
  <h3 class="section_title fade_in">
    <span class="en">New</span>
    <span class="ja">最新のスペース募集</span>
  </h3>
  <div class="swiper-container fade_in">
    <!-- メイン表示部分 -->
    <div class="swiper-wrapper">
      <!-- 各スライド -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
    </div>
    <div class="swiper-button-prev"></div>
	  <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
