<div class="main_title">
  <div class="main_title_box">
    <div class="main_title_top">
      “オフィスのすきまを<br>
      &nbsp;新たな価値に変える”
    </div>
    <div class="main_title_sub">
      空きスペースを有効活用し自社内でコールセンターをしてもらう。<br>
      コールセンター企業とコールセンターを導入したい企業をつなぐマッチングサイト。
    </div>
  </div>
</div>
<h3 class="section_title fade_in">
  <span class="en">Features</span>
  <span class="ja">SHARE SPACEの特徴</span>
</h3>
<div class="container_about fade_in">
  <ul class="content_list">
    <li class="content_list_item">
      <%= image_tag "icon1.png" %>
      <h4>ホスト企業のメリット</h4>
      <p class="content_message">・専門スキルに特化した社員を即戦力として迎えることができる。
        <br class="text_height">・空きスペースに常駐専用のため情報漏洩リスクも未然に防げる。
        <br class="text_height">・連絡事項や相談も社内にいるためスムーズにできる。
      </p>
    </li>
    <li class="content_list_item">
      <%= image_tag "icon2.png" %>
      <h4>コールセンター企業のメリット</h4>
      <p class="content_message">・オフィスの空きスペースに常駐するので新事業のためにオフィスを構える必要はなし。
        <br>・専門業務に専念できるため社員のスキル向上/業務の効率化が図れる。
        <br>・コロナ渦のためコールセンター需要が高まってきているのでたくさんの募集を探せる。
      </p>
    </li>
    <li class="content_list_item">
      <%= image_tag "icon3.png" %>
      <h4>その他</h4>
      <p class="content_message">・住所検索やキーワード検索から募集や企業を探せて、気になったらリプライやDMを送ることができる。
        <br class="text_height">・他にはないおもしろい仕事に巡り合えるかも！
      </p>
    </li>
  </ul>
</div>
<h3 class="section_title new fade_in">
  <span class="en">New</span>
  <span class="ja">最新募集</span>
</h3>
