var comments = document.getElementById('comments');
var comment_content = document.getElementById('comment_content');

// fetch("/api/v1/posts/<%=@post.id%>/comments",
// {
//   mode: 'cors',
//   method: 'GET',
//   headers: {
//
//     "Content-Type": "application/json"
//   }
// }).then(response =>response.json())
// .then(data => {
//
//   var new_comment = data[data.length-1]
//   var hidden = (<%= current_user.id %> != new_comment.user.id) ? "hidden":""
//   img = () => {
//     var image
//     if (new_comment.user.image != null) {
//       image = `
//         <a class:"comment_user_link" href="/users/${new_comment.user.id}">
//           <img class="circle small" src=${new_comment.user.image}
//         </a>
//         `
//     } else {
//       image = `<%= image_tag 'user_default.png', class:"user_icon" %>`
//     }
//     return image
//   }
//
//   user_name = () => {
//     var user_name = `
//       <a class:"comment_user_link" href="/users/${new_comment.user.id}">
//         ${new_comment.user.name}
//       </a>
//       `
//       return user_name
//   }
//
//   comments.insertAdjacentHTML('beforeend',`
//   <li id='comment_${new_comment.id}'>
//     <div class="comment_box">
//       <div class="comment_user_area">
//         ${img()}
//         ${user_name()}
//       </div>
//       <div class="comment">
//         ${new_comment.content}
//       </div>
//       <div class="comment_delete">
//         <a data-confirm="本当に削除しますか？" data-remote="true" rel="nofollow"
//         data-method="delete" href="/posts/${new_comment.article.id}/comments/${new_comment.id}"
//         ${hidden}>削除</a>
//       </div>
//     </div>
//   </li>`)
// }).catch(e => {
//   console.log(e);
// })
comments.insertAdjacentHTML('beforeend',"<%= j(render @comment) %>");
comment_content.value='';
