<div class="left_box">
  <h3>検索条件</h3>
  <%= render partial: "search_form", locals: { search: @search } %>
</div>
<div class="post_detail">
  <div class="recruit_title">
    <span class="title_name">募集一覧</span>
  </div>
  <%= render @host_posts  %>
  <%= paginate @host_posts %>
</div>
