<div class="container">
  <div class="post_index">
    <div class="post_device">
      <div class="left_box">
        <h3>検索条件</h3>
        <input type="text" placeholder="フリーワードで検索" class="form_search">
        <i class="fas fa-search"></i>
        <h3>職種</h3>
      </div>
      <div class="post_detail">
        <div class="recruit_title">
          <span class="title_name">募集一覧</span>
          <span>0件表示</span>
        </div>
        <hr class="post_separate">
        <div class="post_company">
          <%= image_tag 'user_default.png', class:"post_company_image"%>
          <span>まっこりIT株式会社</span>
        </div>
        <div>
          <%= image_tag 'header_default.jpg', class:"post_index_image" %>
        </div>
        <h1 class="post_title">【スーパーバイザー募集/フルリモート可】コールセンターのスーパーバイザー（SV）として、お客様からのお問い合わせ対応をはじめ、業務チームの運営・管理をお任せします。</h1>
        <p class="post_content">こちらはほかしかるにこの努力めとして事の中をさたで。ちっとも今日が損害院は毫もそんな変化だですでもがせとみなをは発展申し込んますたば、そうにはきめですありなた。間接をしな訳はもっとも一遍にどうしてもでないでし。かつて岩崎君に関係仕合せなぜ誤解がなっだ自分その陰私か授業がという皆教育んんないうて、その当時は私か権力新がしば、槙君ののに主命の私でけっしてお病気と足りで私金力からお発展をなっようにもっとお抑圧を聴こですなて、けっしてもっとも安心に並べましてならた事でなっななけれ。</p>
        <div class="group"><h3>報酬<span>約500万円</span></h3></div>
        <div class="group"><h3>募集人数<span>20人</span></h3></div>
        <div class="group"><h3>募集期間<span>2021/2/1〜2022/2/2</span></h3></div>
        <h3 class="post_address">オフィス住所<span>北海道札幌市南区藤野3条4丁目1-24 プレジールビル6階</span></h3>
        <hr class="post_separate">
        <div class="post_company">
          <%= image_tag 'user_default.png', class:"post_company_image"%>
          <span>まっこりIT株式会社</span>
        </div>
        <div>
          <%= image_tag 'header_default.jpg', class:"post_index_image" %>
        </div>
        <h1 class="post_title">【スーパーバイザー募集/フルリモート可】コールセンターのスーパーバイザー（SV）として、お客様からのお問い合わせ対応をはじめ、業務チームの運営・管理をお任せします。</h1>
        <p class="post_content">こちらはほかしかるにこの努力めとして事の中をさたで。ちっとも今日が損害院は毫もそんな変化だですでもがせとみなをは発展申し込んますたば、そうにはきめですありなた。間接をしな訳はもっとも一遍にどうしてもでないでし。かつて岩崎君に関係仕合せなぜ誤解がなっだ自分その陰私か授業がという皆教育んんないうて、その当時は私か権力新がしば、槙君ののに主命の私でけっしてお病気と足りで私金力からお発展をなっようにもっとお抑圧を聴こですなて、けっしてもっとも安心に並べましてならた事でなっななけれ。</p>
        <div class="group"><h3>報酬<span>約500万円</span></h3></div>
        <div class="group"><h3>募集人数<span>20人</span></h3></div>
        <div class="group"><h3>募集期間<span>2021/2/1〜2022/2/2</span></h3></div>
        <h3 class="post_address">オフィス住所<span>北海道札幌市南区藤野3条4丁目1-24 プレジールビル6階</span></h3>
      </div>
    </div>
  </div>
</div>
