<%= provide(:title, "投稿一覧") %>

<div class="container">
  <div class="post_index">
    <div class="post_device">
      <% if current_user && current_user.skill == true %>
        <%= render 'skill_post_index' %>
      <% else %>
       <%= render 'host_post_index'%>
      <% end %>
    </div>
  </div>
</div>
