<%= provide(:title, @post.title) %>

<div class="post_show_container">
  <div class="device">
    <div class="post_show">
      <% if @post.user.skill == true %>
        <%= render 'skill_post_show'%>
      <% else %>
        <%= render 'host_post_show'%>
      <% end %>
    </div>
  </div>
</div>
