* {
  margin: 0;
  font-family: YuGothic, '游ゴシック', sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

::selection
{
  background: #3CB371;
  color: #ffffff;
}

.form_control:focus {
  border: 2px solid #3CB371;
  outline: 0;
}

.Notification {
 .notice, .success {
   background-color: #38AEF0;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
 }
 .alert, .danger {
   background-color: #F35500;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   margin-top: 72px;
   margin-bottom: -80px;
 }
}
/*---------------------------------

  トップページ

---------------------------------*/
/*---------------------------------
  ヘッダー
---------------------------------*/
.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding: 0 10px 0 48px;
  margin: 0 auto;
}

.header .container {
  height: 70px;
  display: flex;
  align-items: center;
}

.area_logo_header .logo {
  display: block;

  img {
    vertical-align: bottom;
    width: 270px;
  }
}


.area_nav_header {
  margin-left: auto;

  a {
    text-decoration: none;
  }
}

.list_nav_header {
  display: flex;
  align-items: center;

  li + li {
    margin-left: 15px;
  }
}

.btn-border {
  display: inline-block;
  text-align: left;
  border: 2px solid #009933;
  color: 	#009933;
  padding: 7px 12px;
  border-radius: 30px;
  font-size: 15px;
  background-color: #009933;
  color: #FFF;
  margin-top: 10px;
  transition: .8s;

  &:hover {
    border: 2px solid #009933;
    color: 	#008000;
    transition: .9s;
    font-size: 15px;
    background:rgba(0,0,0,0.0)
  }
}

.gray {
  color: #fff;
  border: 3px solid #666;
  background-color: #666;

  &:hover {
    color: #333;
    border-color: #666;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: none;
  transition: all 0.5s ease;
}

.hidden {
  background: #fff;
  transition: all 0.5s ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  z-index: 2;
}

/*---------------------------------
  ヘッダーハンバーガーメニュー
---------------------------------*/
.post_header_img {
  height: 21px;
  width: 19px;
  vertical-align: middle;
  padding-bottom: 5px;
}

.offcm01 {
	position: absolute;
	top: 3px;
	right: 60px;
	display: inline-block;
  z-index: 50;

  & .menu {
	  position: fixed;
	  top: 0;
	  right: -100vw;
    width: 400px;
    height: 100%;
	  cursor: pointer;
	  -webkit-transition: 0.53s transform;
	         transition: 0.53s transform;
	  -webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	         transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	  background-color: #111;
	  opacity: 0.8;
  }

  & .menu ul {
	  margin: 0;
	  padding: 0;
  }

  & .menu li {
    margin: 0;
  }

  & .menu li a {
   	display: block;
	  padding: 30px 0 30px 50px;
	  color: #ffffff;
    font-size: 20px;
	  border-bottom: 1px solid #ffffff;
  }

  & .menu li:hover {
    background-color: #444;
  }

  & #toggle01 {
	  position: absolute;
	  display: none;
    opacity: 0;
  }

  & #toggle01:checked ~ .menu {
	  -webkit-transform: translateX(-100vw);
	         transform: translateX(-100vw);
  }

  & #toggle01 ~ label {
	  display: block;
	  padding: 0.5em;
	  cursor: pointer;
	  -webkit-transition: 0.5s transform;
	         transition: 0.5s transform;
	  -webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	         transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	  text-align: center;
	  color: #000;
  }

  & #toggle01:checked ~ label {
	   -webkit-transform: translateX(-400px);
	         transform: translateX(-400px);
  }

  & #toggle01 ~ label::before {
	  font-family: 'FontAwesome';
    font-weight: 900;
	  content: '\f0c9';
	  font-size: 3.5em
  }

  & #toggle01:checked ~ label::before {
	  content: '\f00d';
  }
}

.menu .fas, .menu .far, .post_header_img {
  margin-right: 10px;
}
/*---------------------------------
  トップページ　スライドイン
---------------------------------*/

/*---------------------------------
  メインタイトル
---------------------------------*/
.main_title {
  height: 85vh;
  background-image: url('top_page.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.main_title_box {
  padding-top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

.main_title_top {
  font-size: 70px;
  font-weight: bold;
  color: #000;
  line-height: 1.6;
}

.main_title_sub {
  margin-top: 60px;
  font-size: 20px;
  color: #000;
  text-shadow: 1px 1px 5px #66FF99;
  font-weight: bold;
  text-align: center;
}

#error_explanation {
  background-color: #F35500;
  color: #fff;
  text-align: center;
  margin-top: 72px;
  margin-bottom: -80px;

  h2 {
    font-size: 20px;
  }
}


.error_li, #flash_alert {
  padding: 5px;
  color: #EE0000;
  font-size: 18px;
  font-weight: bold;
  list-style: initial;
  list-style-position: inside;
}

/*---------------------------------
  SHARE SPACEとは？
---------------------------------*/
.section_title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.6;
  margin: 30px 0;
}

.container_new {
  margin: 0 auto 100px auto;
  max-width: 1140px;

}

.en {
  display: inline-block;
  position: relative;
  z-index: 0;
  font-size: 0.5em;
  padding: 0 15px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.08em;
  color: #b2de4a;
  font-family: 'Quicksand', sans-serif;

  &:before {
    left: 0;
    transform: rotate(-20deg);
  }

  &:after {
    right: 0;
    transform: rotate(20deg);
  }

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 2px;
    height: 18px;
    background: #b2de4a;
    border-radius: 1px;
  }
}

.ja {
  display: block;
  letter-spacing: 0.06em;
  line-height: 1.4;
  font-size: 38px;
}

.content_list {
  margin: 10px auto 0;
  padding: 0;
  width: 75%;
  display: flex;
}

.content_list_item {
  width: calc(100%/2);
}

.content_message {
  font-size: 16px;
  width: 80%;
  margin: 30px auto;
  text-indent: -1em;
  font-weight: bold;
  line-height: 30px;

  &::first-line {
    text-align: center;
  }
}

.orange {
  color: #FF6928;
}

.blue {
  color: #4689FF;
}

.intro_top {
  text-align: center;
  font-size: 26px;
  margin: 60px 0 70px 0;
  line-height: 50px;
}

.icon_image {
  text-align: center;
}

/*---------------------------------
  新規登録ページ
---------------------------------*/
.device {
  padding-top: 100px;
  margin: 25px 0 120px 0;
}

.device_frame {
  max-width: 700px;
  text-align: center;
  padding: 24px;
  margin: 0px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 3px 3px 2px rgba(21, 27, 38, 0.2);
}

.form_title {
  font-size: 35px;
  margin-bottom: 20px;
  color: #444;
}


.device_inner {
  width: 360px;
  margin: 0px auto;
}

.form_control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: .25rem;
  transition: .5s;
}

.field, .actions {
  margin-bottom: 10px;
}

.label_name {
  display: block;
  padding: 5px 0;
}

.link_blue {
  color: #007bff;
}

.link_blue:hover {
  color: #99CCFF;
  transition: 0.3s;
}

.devise.btn_border {
  color: #fff;
}

.btn_primary {
  background-color: #339900;
  color: #fff;
  margin-top: 30px;
  width: 108%;
}

.btn_primary:hover {
  background-color: #66CC66;
  transition: 0.3s;
}

.gest_button {
  margin: 13px 0;
  width: 100%;
  background-color: #777;
  color: #fff;

  &:hover {
    background-color: #999;
    transition: 0.3s;
  }
}

/*---------------------------------
  ログインページ
---------------------------------*/

.option-input05 {
  display: none;

  & + label {
    display: block;
    position: relative;
    margin-top: 25px;
    cursor: pointer;
  }

  & + label:before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border: 3px solid #005500;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    transition: all .12s, border-color .08s;
  }

  &:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 5px;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
  }
}
/*---------------------------------
  利用規約　プライバシーポリシー
---------------------------------*/
.row {
  max-width: 1030px;
  widows: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.static_page {
  padding: 100px 0;
  color: #777;
  margin-bottom: 60px;
}

.static_page>h2 {
  color: #474D4F;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: normal;
}

.static_page>p {
  font-size: 14px;
  margin-bottom: 15px;
}

.static_page > h3 {
  font-size: 14px;
  font-weight: bold;
  color: #474D4F;
  margin: 20px 0 10px 0;
}

.static_page>ol li {
  margin-bottom: 10px;
  font-size: 14px;
}

/*---------------------------------
  ユーザー詳細
---------------------------------*/

.detail_frame {
  z-index: 1;
  margin-bottom: 100px;
}

.user_show .post_separate {
  width: 70%;
  margin: 0 auto;
}

.header_detail {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.company_block {
 text-align: center;
 margin-top: -150px;
 margin-bottom: 350px;
}

.user_icon {
 height: 250px;
 width: 250px;
 background-color: #fff;
 box-shadow: 0 0 0 10px #fff;
 border-radius: 50%;

 object-fit: cover;

 will-change: transform;

 &:hover {
   animation: bounceOut 0.4s linear;
 }
}

@keyframes bounceOut {
 0% {
   box-shadow: 0 0 0 8px #fff;
   opacity: 1;
   transform: scale(1);
 }

 25% {
   box-shadow: 0 0 0 2px #fff;
   opacity: 1;
   transform: scale(0.97);
 }

 50% {
   box-shadow: 0 0 0 14px #fff;
   opacity: 1;
   transform: scale(1.01);
 }

 75% {
   box-shadow: 0 0 0 8px #fff;
   opacity: 1;
   transform: scale(1);
 }

 100% {
   box-shadow: 0 0 0 10px #fff;
   opacity: 1;
 }
}

.company_name {
  margin-top: 20px;
  font-size: 40px;
  color: #444;
}

.company_description {
  margin: 45px 0 0 10%;
  width: 50%;
  font-size: 18px;
  text-align: left;
  float: left;
  color: #555;

  p {
    word-wrap: break-word;
  }
}

.company_homepage {
  a {
    color: #4689FF;
  }

  a:hover {
    text-decoration: underline;
  }
}

.fa-map-marker-alt, .fa-link {
  padding-right: 8px;
}

.company_info {
  float: left;
  margin: 5px 10% 0 5%;
  width: 25%;
}

.info_box {
  margin-top: 10px;
  text-align: left;
  padding-left: 0;

  li:first-child {
    margin-top: 20px;
  }

  li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #AAA;
  }
}

.sub_category {
  float: right;
  margin-right: 40px;
  font-size: 22px;
  color: #2ecc71;
}

.direct_message {
  margin: 40px auto 10px auto;
  border-radius: 150px;
  font-size: 17px;
  font-weight: bold;
  padding: 20px 0;
  width: 285px;
  background: linear-gradient(to right,#3366FF 0%, #00BFFF 51%, #77F9C3 100%);
  background-size: 200% auto;
  transition: .5s;
  color: #fff;
  border-style: none;
  outline: 0;

  a {
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    background-position: right center;
    transition: .5s;
  }
}

.mypage_edit {
  background: linear-gradient(to right,#43FF6B 0%, #007700 51%, #00BB00 100%);
  background-size: 200% auto;
  display: block;
  text-align: center;
  transition: .5s;
  margin: 40px auto 10px auto;
  border-radius: 150px;
  font-size: 17px;
  font-weight: bold;
  padding: 20px 0;
  width: 285px;
  color: #fff;
  border-style: none;
  outline: 0;

  &:hover {
    background-position: right center;
    transition: .5s;
  }
}

.user_post_index {
  text-align: center;
}

.user_post_area {
  width: 800px;
  margin: 50px auto;
}


.label_box {
  width: 260px;
  padding: 15px;
  margin: 2em auto;
  background: #f7f092;
  color: #000;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.03);
  transform:rotate(1deg);
  word-break: break-all;

  p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: "HanziPen SC";
  }

  li {
    font-family: "HanziPen SC";
  }
}

.label_box_tape {
  width: 50%;
  height: 35px;
  margin: -25px auto 0;
  background: #989898;
  transform: rotate(-3deg);
  opacity: 0.1;
}

.label_box_title {
  text-align: center;
  font-size: 1.3em!important;
  margin-top: 10px!important;
}

.label_box_subtitle {
  text-align: center;
  font-size: 0.7em!important;
  margin-bottom: 1em!important;
}
/*---------------------------------
  ユーザー編集ページ
---------------------------------*/
.edit_page, .post_index {
  padding-top: 70px;
  margin: 25px 0 120px 0;
  padding-right: 16px;
  padding-left: 16px;
}

.edit_page .form_title {
  text-align: center;
  margin-bottom: 10px;
}

.edit_page .device_inner {
  width: 600px;
}

.edit_page .form_control::placeholder {
  color: #BBB;
}

.edit_page .label_name {
  font-weight: bold;
}

.edit_page .index_link {
  margin-bottom: 0;
}

.edit_text {
  height: 200px;
  width: 100%;
}

.user_destroy_btn {
  margin: 13px 0;
  text-align: center;
  width: 50%;
  background-color: #AA0000;
  color: #fff;

  &:hover {
    background-color: #CC0000;
    transition: 0.3s;
  }
}

.post_separate {
  border-top: 2px solid #BBB;
  margin: 45px 0;
}

.edit_user_icon #previewImage-preview2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.header_img #previewImage-preview1 {
  width: 100%;
  height: 200px;
}

.edit_form::placeholder {
  color: #AAA;
}

.user_edit_heading {
  margin-top: 10px;
}

.file {
  margin-top: 5px;
  display: inline-block;
  position: relative;
  padding: 5px 20px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #3399FF;
  overflow: hidden;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.file:hover {
  background-color: #00CCFF;
}

.file_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.device_inner .file{
  background-color: #777;

  &:hover {
    background-color: #999;
  }
}

.left_column {
  margin-right: 5%;
}

.user_destroy {
  margin-top: 40px;
}
/*---------------------------------
  要素フェードイン
---------------------------------*/
.fade_in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.0s;
}

.fade_in.show {
  opacity: 1;
  transform: translateY(0);
}
/*---------------------------------
  Post index
---------------------------------*/
.post_device {
  display: flex;
  flex-wrap: wrap;
}

.post_index {
  padding-top: 90px;
}

.left_box {
  display: block;
  flex: 0 0 25%;
  max-width: 25%;

  h3 {
    font-size: 16px;
    margin: 25px 0;

    &:first-child {
      margin-top: 0;
    }
  }
}
.form_search {
  border-radius: 50px;
  border: 2px solid #999;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 65%;
  outline: none;
  padding: 15px 30px;
  font-size: 16px;
  position: relative;

  &::placeholder {
    color: #BBB;
  }

  &:focus {
    border: 2px solid #2eb9e6;
    border-radius: 30px;
    transition: .4s;
  }
}

.fa-search {
  margin-right: 10px;
}

.post_detail {
  flex: 0 0 65%;
  max-width: 65%;
  padding: 0 0 0 6%;
}

.recruit_title {
  margin-bottom: 30px;
}

.title_name {
  font-weight: 700;
  margin-right: 20px;
}

.post_index_image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 350px;
}

.post_title {
  font-size: 20px;
  margin: 10px 0 20px 0;

  &:hover {
    text-decoration: underline;
  }
}

.post_content {
  color: #686f71;
  font-size: 15px;
  margin: 15px;
}

.group {
  margin-bottom: 8px;
  margin-right: 24px;
  display: inline-block;

  h3 {
    font-size: 13px;
  }

  span {
    font-weight: normal;
    padding-left: 10px;
    color: #444;
  }
}

.post_company_image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: bottom;
  margin-right: 10px;
  border: 1px solid #DDD;
}

.post_company {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;

  span:hover {
    text-decoration: underline;
  }
}

.post_address {
  font-size: 13px;

  span {
    font-weight: normal;
    padding-left: 10px;
    color: #444;
  }
}

.recruit_link {
  text-align: center;
  border-radius: 50px;
  margin-left: 150px;
  background: linear-gradient(to right,#136FFF 0%, #5D99FF 51%, #00FFFF 100%);
  background-size: 200% auto;
  padding: 20px 80px;
  font-weight: 600;
  font-size: 16px;
  line-height: 52px;
  color: white !important;
  border: none;
  outline: none;
  transition: .4s;

  &:hover {
    background-position: right center;
    transition: .4s;
  }
}

.select_sort select {
  background: #fff;
  border: 2px solid #999;
  border-radius: 4px;
  height: calc(1.5rem + 1rem + 2px);
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  width: 90%;
  margin-bottom: 20px;

  &:focus {
    outline: 0;
    border-color:	#2eb9e6;
  }
}

.number_start, .number_finish {
  width: 37%;
  height: 35px;
  font-size: 14px;
  background: #fff;
  border: 2px solid #999;
  border-radius: 5px;

  &:focus {
    outline: 0;
    border-color:	#2eb9e6;
  }

  &::placeholder {
    color: #BBB;
  }
}

.number_start {
  margin-right: 3%;
}

.number_finish {
  margin-left: 3%;
}

.search_submit {
  width: 90%;
  background-color: #3399FF;
  color: #fff;
  margin-top: 15px;

  &:hover {
    background-color: #33CCFF;
    transition: .4s;
  }
}

.search_reset {
  width: 90%;
  background-color: #999;
  color: #fff;
  border: 2px solid #ced4da;
  margin: 15px 0;
  font-size: 16px;
  padding: 6px 12px;
  transition: .4s;

  &:hover {
    background-color: #BBB;
    transition: .4s;
  }

  &:focus {
    outline: none;
  }
}

.industry_more, .prefecture_more {
  background: #fff;
  border: 2px solid #999;
  border-radius: 4px;
  height: calc(1.5rem + 1rem + 2px);
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  width: 90%;
  margin-bottom: 20px;

  &:focus {
    outline: 0;
    border-color:	#2eb9e6;
  }
}
/*---------------------------------
  Post 新規投稿ページ
---------------------------------*/
.post_form {
  width: 800px;
  margin: 0px auto 100px;

  h1 {
    font-size: 28px;
  }

  .btn_primary {
    width: 100%;
  }
}

.heading_title {
 margin: 40px 0 5px 0;
}

.post_form_title {
  height: 40px;
  width: 100%;
  outline: none;
  padding-left: 5px;
  border-radius: 5px;
  border: 2px solid #BBB;
  font-size: 16px;

  &:focus {
    border: 2px solid #3CB371;
    outline: 0;
  }

  &::placeholder {
    color: #AAA;
  }
}

.post_form_text {
  height: 200px;
  width: 100%;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #BBB;
  font-size: 16px;

  &:focus {
    border: 2px solid #3CB371;
    outline: 0;
  }

  &::placeholder {
    color: #AAA;
  }
}

.post_text_btn {
  display: flex;
  justify-content: space-around;
  padding: 0 0 20px 0;
  margin-top: -20px;
}

.post_edit_btn {
  color: #fff;
  background-color: #0066CC;
  border-color: #0066CC;
  border-radius: 50px;
  padding: 10px 35px;

  &:hover {
    background-color: #1E90FF;
    border-color: #1E90FF;
    transition: .4s;
  }
}

.post_date_field {
  display: flex;
  justify-content: space-around;
}

.preview {
  background-color: #6c757d;
  border-color: #6c757d;

  &:hover {
    background-color: #AAA;
    border-color: #AAA;
    transition: .4s;
  }
}

.number_input {
  width: 45%;
}

#previewImage-preview1, #previewImage-preview2 {
  height: 300px;
  width: 70%;
  object-fit: cover;
  object-position: center;
  border: solid thin lightgray;
  margin-top: 10px;
}
/*---------------------------------
  Post 詳細ページ
---------------------------------*/
.post_show_container .device {
  padding-top: 80px;
}

.post_show {
  width: 800px;
  margin: 0px auto 100px;

  h1 {
    font-size: 20px;
  }

  .btn-border {
    padding: 10px 40px;
    margin: 0 20px;
    font-weight: bold;
    font-size: 17px;
    outline: none;
    transition: .5s;
  }
}

.post_show .btn-border:hover {
  border: 2px solid #00BB00;
  color: #fff;
  background-color: #00BB00;
}

.btn-border_reverse {
  display: inline-block;
  border: 2px solid #009933;
  padding: 10px 40px;
  color: #008000;
  border-radius: 30px;
  font-weight: bold;
  font-size: 17px;
  background-color: #fff;
  margin-top: 10px;
  transition: .8s;

  &:hover {
    border: 2px solid #009933;
    color: #fff;
    background-color: #009933;
    transition: .8s;
  }
}

.fa-bookmark, .fa-envelope {
  padding-right: 3px;
}

.post_show_img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 350px;
  margin-top: 25px;
}

.post_show_btn {
  text-align: center;
  margin: 20px 0 40px 0;
}

.require_area {
  color: #333;

  h2 {
    font-size: 18px;
    margin-bottom: 50px;
  }

  h3 {
    font-size: 16px;
  }
}

.require_item {
  font-size: 16px;
  margin-top: 5px;
}

.post_show_company {
  display: flex;
  margin-bottom: 25px;
}

.post_show_company .post_company_image {
  width: 80px;
  height: 80px;
}

#textcount1, #textcount2 {
  color: #444;
  font-size: 12px;
}

.post_show_content, .company_show_content {
  white-space: pre-wrap;
}

.post_show_content {
  margin-top: 15px;
}

.post_company_name {
  font-size: 18px;
  margin: 30px 0 0 10px;
  font-weight: bold;
  color: #333;

  &:hover {
    text-decoration: underline;
  }
}

.post_company_introduction {
  font-size: 14px;
  white-space: pre-wrap;
}

.item_box_up, .item_box_down {
  display: flex;
}

.right_column {
  margin-left: 30%;
}

.recruit {
  margin-top: 30px;
}

.item_box_down {
  margin: 5px 0 30px 0;

  .right_column {
    margin-left: 15px;
  }
}

.index_link {
  position: relative;
  display: inline-block;
  transition: .3s;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #666;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #5D99FF;
    transition: .3s;
    transform: translateX(-50%);
  }

  &:hover {
    color: #5D99FF;
  }

  &:hover::after {
    width: 100%;
  }
}

.pv_count, .created_time {
  float: right;
  margin-right: 30px;
  color: #666;

  span:first-child {
    margin-right: 5px;
  }

  span:last-child {
    font-size: 14px;
  }
}

.created_time {
  font-size: 14px;
  line-height: 27px;
}

.form_post_contact {
  display: inline-block;
}
/*---------------------------------
  投稿編集ページ
---------------------------------*/
.post_delete {
  margin-top: 50px ;
  width: 96%;
  background-color: #666;
  color: #fff;
  text-align: center;

  &:hover {
    background-color: #888;
    transition: .4s;
  }
}
/*---------------------------------
  ダイレクトメッセージ 詳細ページ
---------------------------------*/
.message_user_image {
  width: 50px;
  height: 50px;
  border: 1px solid #DDD;
  border-radius: 50%;
}

.company_room {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  span {
    margin-left: 15px;
    font-weight: bold;
    font-size: 24px;
  }
}

.room_item_right {
  margin: 20px 20px 5px 20px;
  display: flex;
  justify-content: flex-end;

  .chat_message  {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 16px;
    background-color: #90EE90;
    word-wrap: break-word;
  }
}

.company_chat {
  border: 1px solid #DDD;
  width: 100%;
}

.room_item_right_bottom {
  display: flex;
  justify-content: flex-end;
}

.room_show_box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom, #ffffff, #eeeeee);/*背景色*/
  background: -webkit-linear-gradient(top, #fffff, #eeeeee);/*背景色*/
  border: 1px solid #eeeeee;/*枠線*/
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
  min-height: 500px;
  border-top: 4px solid #00008b;/*上の線*/

  hr {
  }
}

.room_item_left {
  margin: 20px;
}

.chat_message {
  display: inline-block;
  font-size: 15px;
  background-color: #DDD;
  max-width: 70%;
  padding: 10px 25px;
  border-radius: 16px;
  border-bottom-left-radius: 0px;
  margin-left: 15px;
  word-wrap: break-word;
}

.room_item {
  display: flex;
  align-items: center;
}

.room_item_date {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.destroy_message {
  margin-right: 10px;
  background-color:rgba(0,0,0,0);
  line-height: 35px;
  border: none;
  font-size: 16px;

  &:hover {
    color: #BBB;
    transition: .4s;
  }
}

.chat_form {
  text-align: center;
  margin-top: 30px;
}

.form_chat_text {
  width: 50%;
  height: 35px;
  border: 2px solid #888;
  border-radius: 10px;
  padding-left: 15px;

  &::placeholder {
    color: #AAA;
  }

  &:focus {
    border: 2px solid #3CB371;
    outline: 0;
  }
}

.reset {
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 10px;
  padding: 0.5em 2em;
  line-height: 1.5;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  outline: 0;
  background: linear-gradient(#77a2ff, #447fff);

  &:hover {
    background: linear-gradient(#447fff, #77a2ff);
  }
}
/*---------------------------------
   ダイレクトメッセージ一覧
---------------------------------*/
.room_index_box {
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid #eeeeee;
}

.message_box {
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 22px;
  border-bottom: 1px solid #e1e1e1;
  font-weight: bold;
  border-top: 4px solid #00008b;
}

.room_index_item {
  border-top: 1px solid #e1e1e1;
  height: 105px;
  color: #333;
  display: flex;

  &:nth-child(even) {
    background-color: #F0F8FF;
  }

  &:hover {
    background-color: #DDD;
  }
}

.room_index_box .message_user_image {
  margin: 20px;
  width: 65px;
  height: 65px;
}

.room_index_item_content {
  width: 100%;
}

.room_index_date {
  display: flex;
  justify-content: flex-end;
}

.room_index_content {
  padding: 20px;
}

.room_index_message {
  margin: 10px 0 0 10px;
}

.room_index_content_message {
  color: #686f71;
}
/*---------------------------------
  ブックマーク一覧
---------------------------------*/
.empty_bookmark {
  margin: 50px 0 70px 0;
  font-size: 28px;
  text-align: center;
}


/*---------------------------------
  Swiper
---------------------------------*/
/* 全体のスタイル */
.swiper-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0 130px 0;
  height: 40vw;
  max-height: 500px; //最大の高さ
  min-height: 300px;
  width: 800px;
}

.swiper-wrapper {
  min-height: 500px;
}
/* 全スライド共通スタイル */
.swiper-slide {

  img {
    object-fit: cover; /* IE: not support */
    width: 600px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }
}

.swiper_item_width {
  margin: 0 auto;
  width: 600px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}
/*---------------------------------
  ページネーション
---------------------------------*/
.pagination {
  margin: 100px 0 30px 0;
  font-size: 18px;

  span {
    margin: 0 10px;
  }

  a:hover {
    color: #2ecc71;
    transition: .4s;
  }
}

.current {
  background-color: #2ecc71;
  border-radius: 100%;
  color: #fff;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
}
/*---------------------------------
  フッター
---------------------------------*/
.scroll_top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  background-color: #999;
  opacity: .8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: #fff;
  outline: none
}

.scroll_top:hover {
  cursor: pointer;
  outline: none;
  background-color: #BBB;
  transition: .4s;
}

.footer {
  width: 100%;
  color: #fff;
  background-color: #555;
  height: 169px;
  line-height: 1.5;
  position: absolute;
  bottom: 0;

  img {
    width: 200px;
    vertical-align: bottom;
  }

  span {
    margin-left: 10px;
    line-height: 18px;
    display: inline-block;
    font-size: 14px;
  }
}

.footer .container {
  width: 950px;
  margin: 10px auto;
  padding: 0;
}

.footer_link {
  font-size: 12px;
  margin: 30px 0 0;
  padding: 0;

  li {
    display: inline-block;
    width: 15%;
    margin-left: 14%;
  }

  a {
    color: #a7a7a7;
    font-size: 12px;
    color: #A7A7A7;
    float: left;
  }
}

.sub_footer {
  font-size: 12px;
  text-align: center;
  line-height: 55px;
  padding: 0;
}
