<footer class="footer">
  <div class="container">
    <%= link_to image_tag('logo.png'), root_path %>
    <span class="footer-catch">
      空きスペースとスキルをシェアするマッチングサービス
    </span>
    <ul class="footer_link">
      <li>
        <%= link_to "利用規約", terms_path %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー", privacy_path %>
      </li>
      <li>
        <%= link_to "お問い合わせ", "mailto:share.space2021@gmail.com" %>
      </li>
    </ul>
    <div class="sub_footer">
      <p>©2020 ShareSpace,Inc.</p>
    </div>
  </div>
</footer>
