<header class="header">
  <div>
    <div class="container">
      <div class="area_logo_header">
        <%= link_to image_tag('logo.png'), root_path, class: "logo" %>
      </div>
      <nav class="area_nav_header">
        <ul class="list_nav_header">
          <li>
            <a class="about_link">SHARE SPACEとは</a>
          </li>
          <li>
            <%= link_to "かんたんログイン", '#', class:"btn-border gray" %>
          </li>
          <li>
            <%= link_to "ログイン", '#', class:"btn-border" %>
          </li>
          <li>
            <%= link_to "新規登録", '#', class:"btn-border" %>
          </li>
        </ul>
      </nav>
    </div>
  </header>
