<header class="header " id="header">
  <div class="container">
    <div class="area_logo_header">
      <%= link_to image_tag('logo.png'), root_path, class: "logo" %>
    </div>
    <nav class="area_nav_header">
      <ul class="list_nav_header">
        <%= render 'layouts/login_header' %>
      </ul>
    </nav>
  </div>
</header>
