<header class="header " id="header">
  <div class="container">
    <div class="area_logo_header">
      <%= link_to image_tag('logo.png'), root_path, class: "logo" %>
    </div>
    <nav class="area_nav_header">
      <ul class="list_nav_header">
        <% if host_user_signed_in? %>
           <%= link_to 'ログアウト', destroy_host_user_session_path, :method => :delete, class:"btn-border" %>

        <% else %>
          <li>
            <%= link_to "ホスト企業 | 新規登録orログイン", new_host_user_session_path, class:"btn-border" %>
          </li>
          <li>
            <%= link_to "コールセンター | 新規登録orログイン", new_call_center_user_session_path, class:"btn-border" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
